::deep .selected {
  background-color: #E3E3E3 !important;
}

::deep .complex-element-required .mud-input-label {
  color: red !important;
}

@media (min-with: 600px) {
  .mud-input-error {
    font-size: 1.7em;
  }
}
