:root {
  --color-primary: #0045AC;
  --color-primary-darken: #1E2637;
  --color-primary-lighten: #384051;
  --color-primary-lighten-2: #334756;
  --color-primary-text-blue: #143377;
  --color-secondary: #D03631;
  --color-secondary-darken: #BB302C;
  --color-secondary-lighten: #D44A45;
  --color-secondary-text-red: #E31E25;
  --color-tertiary: #DA291C;
  --color-tertiary-darken: #E54424;
  --color-tertiary-lighten: #FF5D3E;
  --color-tertiary-disable: #FF8169;
  --color-global-fullwhite: #FFFFFF;
  --color-global-midwhite: #FAFAFA;
  --color-global-lowwhite: #F0F0F0;
  --color-global-fullblack: #000000;
  --color-global-theme-grey: #E9E9E9;
  --color-global-grey: #8F8F8F;
  --color-global-grey-2: #E1E4E4;
  --color-global-green-success: #40C240;
  --color-global-red-error: #DB3632;
  --color-global-notepad-yellow: #FFFEE0;
  --color-CIMA-blue: #384A9C;
  --color-CIMA-red: #CE3439;
  --color-badge-ok: #C4DAFF;
  --color-badge-needinfo: #EBA8A6;
  --color-global-RGBA-black-50: rgba(0, 0, 0, 0.5019607843);
  --color-global-RGBA-black-40: rgba(0, 0, 0, 0.4);
  --color-global-RGBA-black-16: rgba(0, 0, 0, 0.1607843137);
  --color-global-RGBA-transparent: rgba(255, 255, 255, 0);
  --color-global-RGBA-grey-2-31: rgba(139, 139, 139, 0.3137254902);
  --color-global-RGBA-grey-31: rgba(80, 80, 80, 0.3137254902);
  --color-global-RGBA-grey-25: rgba(143, 143, 143, 0.2509803922);
  --color-RGBA-primary-80: rgba(34, 43, 62, 0.8);
  --color-RGBA-primary-50: rgba(34, 43, 62, 0.5019607843);
  --color-RGBA-primary-25: rgba(34, 43, 62, 0.2509803922);
  --color-RGBA-tertiary-50: rgba(255, 76, 41, 0.5019607843);
  --color-RGBA-tertiary-25: rgba(255, 76, 41, 0.2509803922);
  --color-nav-menu: #112f5c;
  --color-nav-info: #112f5c;
  --color-package-subtitle: #A1B5D3;
  --color-complex-chip: #EDF4FA;
  --color-booking-panel: #869AAC;
}

::deep .paper-grey {
  border-radius: 7px;
  background-image: linear-gradient(to bottom, var(--color-global-fullwhite), var(--color-global-theme-grey));
  padding: 2.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::deep .login-text.title {
  align-self: center;
  color: var(--color-primary-text-blue);
}
::deep .login-text.body {
  align-self: flex-start;
  color: var(--color-primary-text-blue);
}
::deep .login-text.password-forget {
  align-self: flex-start;
  color: var(--color-secondary);
}
::deep .login-text.styled {
  margin-left: 5px;
  margin-right: 5px;
}

::deep .nav-link {
  padding: 0px;
}

::deep .divider {
  width: 45%;
  background-color: var(--color-global-grey);
}

.no-account {
  display: flex;
  flex-direction: row;
}

::deep .email-field.resize-it .mud-input {
  font-size: 2rem;
}

::deep .password-field.resize-it .mud-input {
  font-size: 2rem;
}
::deep .password-field.resize-it .mud-input-adornment .mud-icon-root {
  font-size: 2rem;
}

::deep .login-button {
  width: 40%;
  padding: 0 !important;
  height: 38px;
  align-self: flex-end;
}
::deep .login-button.resize-it {
  font-size: 1.6rem;
}
::deep .login-button .mud-button-label {
  display: flex;
  flex-direction: column;
  height: 100%;
}
::deep .login-button .button-text {
  margin-top: auto;
}
::deep .login-button .progress {
  width: 100%;
  margin-top: auto;
  visibility: hidden;
  height: 4.5px;
  background: linear-gradient(var(--color-primary) 0 0), linear-gradient(var(--color-primary) 0 0), var(--color-secondary);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  animation: progress-7x9cg2 2.4s infinite;
}
::deep .login-button .progress.active {
  visibility: visible !important;
}
@keyframes progress-7x9cg2 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.mini-style-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-text-button-mobil {
  font-size: 1.2em !important;
}

.mud-input-adornment .mud-icon-button-label > svg {
  font-size: 1.9em !important;
}
