
::deep .trackingmapelement-chk-element p,
::deep .trackingmapelement-chk-element svg,
::deep .trackingmapelement-select-element-list p,
::deep .trackingmapelement-select-element-input {
    font-size: 1.9em;
}

::deep .ma-8 {
    width: 80%;
    margin-left: 0px;
    padding-left: 0px;
}
