/*
    Módulo global de colores
*/

$primary-color: #0045AC;
$primary-color-darken: #1E2637;
$primary-color-lighten: #384051;
$primary-color-lighten-2: #334756;
$primary-text-blue: #143377;
$secondary-color: #D03631;
$secondary-color-darken: #BB302C;
$secondary-color-lighten: #D44A45;
$secondary-text-red: #E31E25;
$tertiary-color: #FF4C29;
$tertiary-color-darken: #E54424;
$tertiary-color-lighten: #FF5D3E;
$tertiary-color-disable: #FF8169;
$color-fullwhite: #FFFFFF;
$color-midwhite: #FAFAFA;
$color-lowwhite: #F0F0F0;
$color-theme-grey: #E9E9E9;
$color-grey: #8F8F8F;
$color-CIMA-blue: #384A9C;
$color-CIMA-red: #CE3439;
$color-badge-ok: #C4DAFF;
$color-badge-needinfo: #EBA8A6;
$RGBA-color-black-50: #00000080;
$RGBA-color-black-16: #00000029;
$RGBA-color-transparency: #FFFFFF00;
$RGBA-primary-color-50: #222B3E80;
$RGBA-primary-color-25: #222B3E40;
$RGBA-primary-color-80: #222B3ECC;
$RGBA-tertiary-color-50: #FF4C2980;