@charset "UTF-8";
:root {
  --color-primary: #0045AC;
  --color-primary-darken: #1E2637;
  --color-primary-lighten: #384051;
  --color-primary-lighten-2: #334756;
  --color-primary-text-blue: #143377;
  --color-secondary: #D03631;
  --color-secondary-darken: #BB302C;
  --color-secondary-lighten: #D44A45;
  --color-secondary-text-red: #E31E25;
  --color-tertiary: #DA291C;
  --color-tertiary-darken: #E54424;
  --color-tertiary-lighten: #FF5D3E;
  --color-tertiary-disable: #FF8169;
  --color-global-fullwhite: #FFFFFF;
  --color-global-midwhite: #FAFAFA;
  --color-global-lowwhite: #F0F0F0;
  --color-global-fullblack: #000000;
  --color-global-theme-grey: #E9E9E9;
  --color-global-grey: #8F8F8F;
  --color-global-grey-2: #E1E4E4;
  --color-global-green-success: #40C240;
  --color-global-red-error: #DB3632;
  --color-global-notepad-yellow: #FFFEE0;
  --color-CIMA-blue: #384A9C;
  --color-CIMA-red: #CE3439;
  --color-badge-ok: #C4DAFF;
  --color-badge-needinfo: #EBA8A6;
  --color-global-RGBA-black-50: rgba(0, 0, 0, 0.5019607843);
  --color-global-RGBA-black-40: rgba(0, 0, 0, 0.4);
  --color-global-RGBA-black-16: rgba(0, 0, 0, 0.1607843137);
  --color-global-RGBA-transparent: rgba(255, 255, 255, 0);
  --color-global-RGBA-grey-2-31: rgba(139, 139, 139, 0.3137254902);
  --color-global-RGBA-grey-31: rgba(80, 80, 80, 0.3137254902);
  --color-global-RGBA-grey-25: rgba(143, 143, 143, 0.2509803922);
  --color-RGBA-primary-80: rgba(34, 43, 62, 0.8);
  --color-RGBA-primary-50: rgba(34, 43, 62, 0.5019607843);
  --color-RGBA-primary-25: rgba(34, 43, 62, 0.2509803922);
  --color-RGBA-tertiary-50: rgba(255, 76, 41, 0.5019607843);
  --color-RGBA-tertiary-25: rgba(255, 76, 41, 0.2509803922);
  --color-nav-menu: #112f5c;
  --color-nav-info: #112f5c;
  --color-package-subtitle: #A1B5D3;
  --color-complex-chip: #EDF4FA;
  --color-booking-panel: #869AAC;
}

/*
    Módulo global de efectos CSS
*/
.quotation-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

::deep .floating-bill {
  justify-content: flex-start;
  z-index: 20;
  position: absolute;
  bottom: 50vh;
  right: 35vw;
  border-radius: 30px 0px 0px 30px;
  width: 30px;
}

::deep .mobile-floating-bill {
  z-index: 1302;
  position: fixed;
  bottom: 8px;
  left: 8px;
  padding: 0;
  margin: 0;
  min-height: 80px;
  min-width: 80px;
}
::deep .mobile-floating-bill .mud-icon-root {
  font-size: 6rem;
}

::deep .need-info {
  border: 1px solid var(--color-global-red-error);
}

::deep .all-clear {
  border: 1px solid var(--color-global-green-success);
}

::deep .title-stack {
  margin-bottom: 2rem;
  align-items: center;
}

::deep .title-icon {
  stroke: var(--color-secondary);
  fill: var(--color-secondary) !important;
}

.estimation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

::deep .drawer-card {
  position: absolute;
  top: -100vh;
}

::deep .bill-drawer {
  overflow: visible;
  border-left: 1px solid var(--color-global-grey-2);
}

::deep .paper-grey {
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

::deep .service-trace {
  align-self: flex-start;
}

::deep .group-data-card {
  padding: 20px;
  margin: 20px 0px;
  border-radius: 14px;
}

::deep .container-input {
  align-items: center;
}

::deep .subservices-divider {
  opacity: 1;
  align-self: center;
  width: 100%;
  background-color: var(--color-global-grey);
  height: 1px;
  -webkit-filter: drop-shadow(0px 5px 5px var(--color-global-RGBA-black-16));
  filter: drop-shadow(0px 5px 5px var(--color-global-RGBA-black-16));
}

::deep .grey-text {
  color: var(--color-global-grey);
}

::deep .grey-icon {
  fill: var(--color-global-grey) !important;
}

::deep .breadcrumb-icon {
  fill: var(--color-tertiary) !important;
}

::deep .mud-breadcrumb-item.mud-disabled > a {
  color: black !important;
}

::deep .mud-breadcrumb-item.mud-disabled {
  font-size: 1.8rem !important;
}
