@import '../../Styles/ColorsGlobal.scss';

::deep .paper-blue {
    background: css-color-var(complex-chip);
    border-radius: 12px !important;
    margin-top: 1.3rem;
}

.subtotal-divider {
    border: solid 1px css-color-var(global-grey);
}

::deep .money-item {
    color: css-color-var(primary)
}

::deep .ticket-panels-icon {
    fill: css-color-var(global-fullblack);

    &.resize-it {
        font-size: 3.5rem !important;
    }
}

::deep .title-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

::deep .ticket-service-panel {
    padding: 0 !important;
}

@media(max-width: 600px) {
    ::deep .ticket-service-panel h4{
        font-size: 2.7em; 
    }

    ::deep .ticket-service-panel h5 {
        font-size: 2.9em;
    }
}

@media(max-width: 960px) {
    /*::deep .ticket-service-panel h4 {
        font-size: 2.2em;
    }*/

    ::deep .ticket-service-panel h5 {
        font-size: 2.5em;
    }
}