@import '../../Styles/ColorsGlobal.scss';

.dialog-stack {
    width: 25vw;
}

::deep .mud-dialog {
    border-radius: 16px !important;
    padding: 12px !important;
}

.mud-dialog-title h6 {
    color: css-color-var(primary) !important;
}

.mud-dialog-content svg,
.mud-dialog-content input {
    font-size: 2.5em !important;
}

.mud-list-padding p,
.mud-dialog-content h5,
.mud-dialog-actions span {
    font-size: 2.0em !important;
}

.progress {
    height: 1rem;
    width: 25vw;
    background: linear-gradient(css-color-var(primary) 0 0), linear-gradient(css-color-var(primary) 0 0), #dbdcef;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 3s infinite;
}

@keyframes progress-7x9cg2 {
    0% {
        background-position: -150% 0,-150% 0;
    }

    66% {
        background-position: 250% 0,-150% 0;
    }

    100% {
        background-position: 250% 0, 250% 0;
    }
}

@media(max-width: 600px) {
    ::deep .mud-dialog mud-dialog-width-sm {
        width: calc(30vw - 5px);
    }   
}