.element-boundary {
  margin: 8px 0px;
}

::deep .numerical-input.increase-it {
  max-width: 100%;
}
::deep .numerical-input.increase-it .mud-input {
  font-size: 2rem;
}
::deep .numerical-input.increase-it .mud-input-label {
  font-size: 2rem;
}
::deep .numerical-input.increase-it .mud-input-numeric-spin {
  flex-direction: row;
}
::deep .numerical-input.increase-it .mud-input-numeric-spin .mud-icon-root {
  font-size: 6rem;
}

@media (max-width: 960px) {
  ::deep .quotation-elements-mudnumericfield p {
    font-size: 1.8em !important;
  }
}
